[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
graphene-django = "*"
django-graphql-jwt = "*"
python-dotenv = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.8"
